:root {
  --background: #f7f8fb;

  /* Header */
  --header-bg: #fff;
  --header-text: #555;
  --header-shadow: rgba(0, 0, 0, 0.08);

  /* Cards */
  --card-bg: #fff;
  --card-text: #555;
  --card-label: #888;
  --card-shadow: rgba(0, 0, 0, 0.15);

  /* Toggle */
  --toggle-bg: #fff;
  --toggle-text: #555;
  --toggle-border: #ccc;
  --toggle-shadow: rgba(0, 0, 0, 0.15);
}

.dark {
  --background: #121212;

  /* Header */
  --header-bg: #1e1e1e;
  --header-text: #ddd;
  --header-shadow: rgba(0, 0, 0, 0.5);

  /* Cards */
  --card-bg: #1e1e1e;
  --card-text: #ddd;
  --card-label: #aaa;
  --card-shadow: rgba(0, 0, 0, 0.5);

  /* Toggle */
  --toggle-bg: #2c2c2c;
  --toggle-text: #ddd;
  --toggle-border: #444;
  --toggle-shadow: rgba(0, 0, 0, 0.5);
}
