<main class="page" [class.dark]="theme.darkMode()">
  <div *ngIf="loading(); else content" class="page__message">Cargando…</div>

  <ng-template #content>
    <div *ngIf="error(); else gridBlock" class="page__message page__message--error">
      {{ error() }}
    </div>

    <ng-template #gridBlock>
      <section class="page__grid-wrapper">
        <div class="page__grid">
          <app-character-card *ngFor="let c of characters()" [character]="c"></app-character-card>
        </div>
      </section>
    </ng-template>
  </ng-template>
</main>
