<main class="page">
  <!-- LOADING -->
  <div *ngIf="loading(); else content" class="page__message">Cargando…</div>

  <ng-template #content>
    <!-- ERROR -->
    <div *ngIf="error(); else gridBlock" class="page__message page__message--error">
      {{ error() }}
    </div>

    <ng-template #gridBlock>
      <section class="page__grid-wrapper">
        <div class="page__grid">
          <app-character-card *ngFor="let c of characters()" [character]="c"> </app-character-card>
        </div>
      </section>

      <!-- PAGINACIÓN -->
      <div class="pagination">
        <button (click)="prevPage()" [disabled]="globalPage() === 1">Anterior</button>

        <span>Página {{ globalPage() }} de {{ totalChunks() }}</span>

        <button (click)="nextPage()" [disabled]="globalPage() === totalChunks()">Siguiente</button>
      </div>
    </ng-template>
  </ng-template>
</main>
