.card {
  display: flex;
  background: var(--card-bg);
  border-radius: 12px;
  box-shadow: 0 4px 12px var(--card-shadow);
  overflow: hidden;
  gap: 0.5rem;
  align-items: stretch;

  width: 400px;
  &__image {
    width: 33%; // 1/3 del ancho de la card
    aspect-ratio: 1 / 1; // siempre cuadrada
    object-fit: cover;
    flex-shrink: 0;
  }

  &__content {
    padding: 0.5rem 0;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__title {
    margin: 0;
    font-size: 0.95rem;
    color: var(--card-text);
  }

  &__label {
    font-size: 0.7rem;
    color: var(--card-label);
  }

  &__text {
    font-size: 0.8rem;
    color: var(--card-text);
    font-weight: 500;
  }

  &__info {
    &-block {
      display: flex;
      flex-direction: column;
      margin: 0.1rem 0;
    }

    &-status {
      display: flex;
      font-size: 0.6rem;
      flex-direction: row;
      align-items: center;
      gap: 8px;

      &-indicator {
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin-left: 0.5rem;
        vertical-align: middle;
      }
    }
  }

  &__status,
  &__location,
  &__origin {
    margin: 0;
    font-size: 0.8rem;
    color: var(--card-text);
  }
}
