<div class="card">
  <img class="card__image" [src]="character.image" [alt]="character.name" />

  <div class="card__content">
    <h2 class="card__title">{{ character.name }}</h2>

    <!-- Status -->
    <div class="card__info-status">
      <span
        class="card__info-status-indicator"
        [style.background-color]="STATUS_COLOR[character.status]"
        title="{{ character.status }}"
      ></span>
      {{ character.status }} - {{ character.species }}
    </div>

    <!-- Location -->
    <div class="card__info-block">
      <span class="card__label">Last Known Location</span>
      <span class="card__text">{{ character.location.name }}</span>
    </div>

    <div class="card__info-block">
      <span class="card__label">First Seen In</span>
      <span class="card__text">{{ character.origin.name }}</span>
    </div>
  </div>
</div>
