<article class="card" [attr.aria-labelledby]="'name-' + character.id">
  <img class="card__img" [src]="character.image" [alt]="character.name" />

  <div class="card__content">
    <h3 id="name-{{ character.id }}" class="card__name">{{ character.name }}</h3>
    <p class="card__status"><strong>Status:</strong> {{ character.status }}</p>

    <!-- Last Known Location -->
    <div class="card__info-block">
      <span class="card__label">Last Known Location:</span>
      <span class="card__value">{{ character.location.name }}</span>
    </div>

    <!-- First Seen In -->
    <div class="card__info-block">
      <span class="card__label">First Seen In:</span>
      <span class="card__value">{{ character.origin.name }}</span>
    </div>
  </div>
</article>
