// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$rose-palette,
        tertiary: mat.$red-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* --- Modo claro --- */
:root {
  /* Page */
  --background: #f7f8fb;
  --page-text: #555;

  /* Header */
  --header-bg: #fff;
  --header-text: #555;
  --header-shadow: rgba(0, 0, 0, 0.08);

  /* Cards */
  --card-bg: #fff;
  --card-text: #555;
  --card-label: #888;
  --card-shadow: rgba(0, 0, 0, 0.15);

  /* Toggle */
  --toggle-bg: #fff;
  --toggle-text: #555;
  --toggle-border: #ccc;
  --toggle-shadow: rgba(0, 0, 0, 0.15);
}

/* --- Modo oscuro --- */
.dark {
  /* Page */
  --background: #121212;
  --page-text: #ddd;

  /* Header */
  --header-bg: #1e1e1e;
  --header-text: #ddd;
  --header-shadow: rgba(0, 0, 0, 0.5);

  /* Cards */
  --card-bg: #3e3e3e;
  --card-text: #ddd;
  --card-label: #aaa;
  --card-shadow: rgba(0, 0, 0, 0.5);

  /* Toggle */
  --toggle-bg: #2c2c2c;
  --toggle-text: #ddd;
  --toggle-border: #444;
  --toggle-shadow: rgba(0, 0, 0, 0.5);
}
